.products-container {
    display:flex;
}

.products-filters {
    width: 15rem;
}
.filter{
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.filter-brand{
    display:block;
}

.products-listings{
    padding: -1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1 fr;
    column-gap: 2rem;
    row-gap:5rem;
}

.products-title {
    grid-column: 1 / 5;
    justify-self: center;
}
